body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  overflow: hidden;
  background-color: #F9F6ED;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

strong {
  font-weight: bold;
}

#auc-mat, #mat-rot, #rot-taupo,
#taupo-rua, #rua-rot, #rot-auc,
#auc-chr, #chr-tek, #tek-puk,
#puk-twiz, #twiz-duns, #duns-qns,
#qns-atwn, #atwn-kaw, #kaw-chr,
#chr-wel, #wel-fox, #fox-auc, .sprites {
  opacity: 0;
}

/* Fonts */

.fonts-loaded {
  font-family: 'Oswald';
}

.svg-item {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}

.main-container {
  padding: 16px;
  position: relative;
  /*z-index: 10;*/
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1700px;
     margin: 0 auto;
  }
}

.content {
  width: 66.67%;
  margin-top: 30px;
  margin-left: 5%;
  position: relative;
  z-index: 2;
}

.header {
  width: 69%;
}

.headline {
  color: #E91D63;
  font-size: 103px;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
}

.sub-headline {
  font-family: 'Lato';
  font-weight: normal;
  color: #93CAC5;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  line-height: 1.5em;
}

.legends {
  font-family: 'Lato';
  font-weight: normal;
  font-size: 14px;
  color: #999998;
  margin: 16px auto;
  text-align: center;
}

.legend-item {
  display: inline-block;
  margin-right: 32px;
}

.legend-icons {
  width: 13px;
  height: 13px;
  margin-right: 5px;
}

.scene {
  color: #DE5483;
  margin-top: 15px;
}

.content-icons {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: top;
}

.attraction {
  display: inline-block;
  vertical-align: top;
}

.events {
  height: calc(100vh - 300px);
  overflow: auto;
  font-family: 'Lato';
  position: relative;
}

.events-container {
  margin-top: 40px;
  position: relative;
  height: auto;
  width: 70%;
}

.events-container:after {
  /*content: '';*/
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  padding-left: 15px;
  padding-right: 15px;
  height: 160px;
  /*background: -webkit-linear-gradient(bottom, #fff, #fff 34%, rgba(255,255,255,0));
  background: linear-gradient(to top, #F9F6ED, #F9F6ED 34%, rgba(255,255,255,0));*/
  z-index: 10;
}

.chart-wrapper {
  counter-reset: section;
  padding: 0;
}

.chart-section {
  position: relative;
  margin-bottom: 20px;
  /*margin-bottom: 40px;*/
  list-style-type: none;
}

.chart-section:first-child:before, .chart-section:last-child:after {
  content: '';
  display: none;
}

.chart-section:last-child {
  padding-bottom: 100px;
}

.chart-section:before, .chart-section:after {
  content: '';
  position: absolute;
  border: solid 1px #E91D63;
  left: 11px;
}

.chart-section:before {
  height: 50%;
}

.chart-section:after {
  height: calc(100% + 20px);
  /*height: calc(50% + 40px);*/
  /*top: 50%;*/
}

.chart-num,
.chart-content {
  display: inline-block;
  vertical-align: top;
}

.chart-num {
  width: 20px;
  height: 20px;
  line-height: 20px;
  border: 2px solid #E91D63;
  border-radius: 50%;
  background: #F9F6ED;
  font-size: 24px;
  position: relative;
  z-index: 2;
  box-sizing: content-box;
}

.chart-num:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  left: 5px;
  top: 5px;
  line-height: 20px;
  background: #E91D63;
  border-radius: 50%;
  font-size: 24px;
  z-index: 2;
  box-sizing: content-box;
}

.chart-content {
  padding: 0 16px;
  position: relative;
  width: 75%;
  border-radius: 4px;
  margin: 0 8px;
}

.chart-content a {
  text-decoration: none;
  color: #14c3bf;
}

.chart-active a, .chart-active a:hover {
  color: #93CAC5;
}

.chart-content a:hover {
  text-decoration: none;
  color: #24deda;
}

.chart-content h1,
.chart-content h1 a {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.5px;
  line-height: 26px;
  text-decoration: none;
  display: block;
}

.chart-content small {
  font-size: 14px;
  color: #999998;
  font-weight: normal;
  letter-spacing: 1px;
}

.chart-active {
  background: pink;
  border-radius: 0px;
  padding: 10px 16px;
  transition: all 0.5s;
}

/*.chart-active h1,
.chart-active h1 a {
  color: #79a29f;
}*/

.photo-thumb {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-right: 5px;
  padding: 5px;
  z-index: 0;
}

.photo-thumb img {
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #dddddd;
  padding: 5px;
  width: 100px;
  height: 100px;
  background: #fff;
}

.roam-map {
  color: #DE5483;
  opacity: 0;
}

/* Tooltip stuff */
.rel {
  margin: 0 auto;
  position: relative;
  text-align: center;
  padding: 20px;
  border-style: dotted;
  border-color: white;
  border-width: medium;
}

p.thin {
    font-weight: 100;
    margin: 0;
    line-height: 1.2em;
}

p.bold {
    font-weight: 900;
    margin: 0;
    margin-top: -5px;
}

.rel {
    width: 30%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding: 20px;
    border-style: dotted;
    border-color: white;
    border-width: medium;
}

@keyframes fadeInTooltip {
  from {
    opacity: 0;
    top: 10px;
  }

  to {
    opacity: 1;
    top: 0px;
  }
}

@keyframes fadeOutTooltip {
  from {
    opacity: 1;
    top: 0px;
  }

  to {
    opacity: 0;
    top: 10px;
  }
}

.fadeInTooltip {
  webkit-animation-name: fadeInTooltip;
  animation-name: fadeInTooltip;
  animation-duration: 0.5s;
}

.fadeOutTooltip {
  animation-name: fadeOutTooltip;
  animation-duration: 0.5s;
}

.popper,
.tooltip {
    position: absolute;
    background: #e35583;
    color: #ffffff;
    width: 300px;
    padding: 10px;
    text-align: left;
    font-family: 'Lato';
    -webkit-font-smoothing: antialiased;
    opacity: 0;
    line-height: 23px;
    z-index: 3;
}

.tooltip a {
  color: #f7d3de;
  text-decoration: underline;
  font-weight: bold;
}

.tooltip a:hover {
  color: #fff;
}

.popper .popper__arrow,
.tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
}

.tooltip .tooltip-arrow,
.popper .popper__arrow {
    border-color: #e35583;
}

.style5 .tooltip .tooltip-arrow {
    border-color: #1E252B;
}

.popper[x-placement^="top"],
.tooltip[x-placement^="top"] {
    margin-bottom: 10px;
}

.popper[x-placement^="top"] .popper__arrow,
.tooltip[x-placement^="top"] .tooltip-arrow {
    border-width: 8px 8px 0 8px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    bottom: -5px;
    left: calc(50% - 11px);
    margin-top: 0;
    margin-bottom: 0;
}

.popper[x-placement^="bottom"],
.tooltip[x-placement^="bottom"] {
    margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow,
.popper[x-placement^="bottom"] .popper__arrow {
    border-width: 0 5px 5px 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}

.tooltip[x-placement^="right"],
.popper[x-placement^="right"] {
    margin-left: 5px;
}

.popper[x-placement^="right"] .popper__arrow,
.tooltip[x-placement^="right"] .tooltip-arrow {
    border-width: 5px 5px 5px 0;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}

.popper[x-placement^="left"],
.tooltip[x-placement^="left"] {
    margin-right: 10px;
}

.popper[x-placement^="left"] .popper__arrow,
.tooltip[x-placement^="left"] .tooltip-arrow {
    border-width: 8px 0 8px 8px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    right: -5px;
    top: calc(50% - 11px);
    margin-left: 0;
    margin-right: 0;
}